# Binaries
**/bin/
**/bin-int/

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Stuff for my directory
**.snippet
**.txt

# Ignore this on Sandbox
**.log

# For the documentation folder on my computer
doc/
Doxyfile